<footer class="footer">
	<div class="container cols cols--2 gutter">
		<section class="payment">
			<h2>Moyens de paiement</h2>
			<div>
				<span class="payment-mastercard"></span>
				<span class="payment-cb"></span>
				<span class="payment-visa"></span>
				<span class="payment-virement"></span>
			</div>
		</section>
		<section class="social">
			<h2>Sur les réseaux sociaux</h2>
			<div>
				<a href="#"><i class="fa-brands fa-facebook-f"></i></a>
				<a href="#"><i class="fa-brands fa-instagram"></i></a>
				<a href="#"><i class="fa-brands fa-twitter"></i></a>
				<a href="#"><i class="fa-brands fa-linkedin"></i></a>
			</div>
		</section>
		<nav>
			<h2>HiTech.NET</h2>
			<ul class="unstyled">
				<li><a href="#">Qui sommes-nous ?</a></li>
				<li><a href="#">Nos services</a></li>
				<li><a href="#">Contactez-nous</a></li>
			</ul>
		</nav>
		<nav>
			<h2>A propos</h2>
			<ul class="unstyled">
				<li><a href="#">Plan du site</a></li>
				<li><a href="#">Foire Aux Questions</a></li>
				<li><a href="#">Conditions générales de vente</a></li>
				<li><a href="#">Informations légales</a></li>
			</ul>
		</nav>
	</div>
</footer>
