{% extends 'base.html.twig' %}

{% block body %}
    <!-- banner -->
    <section class="banner_main">

    <!-- end banner -->
    <!-- three_box -->
    <div class="three_box">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="box_text">
                        <i><img src="{{ asset('assets/uploads/thr.png')}}" alt="#"/></i>
                        <h3>Computer</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box_text">
                        <i><img src="{{ asset('assets/uploads/thr1.png')}}" alt="#"/></i>
                        <h3>Laptop</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box_text">
                        <i><img src="{{ asset('assets/uploads/thr2.png')}}" alt="#"/></i>
                        <h3>Tablet</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- three_box -->
    <!-- customer -->
    <!-- end customer -->

    <!--  contact -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Contact Now</h2>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-10 offset-md-1 ">
                    <form id="request" class="main_form contact">
                        <div class="row ">
                            <div class="col-md-12 ">
                                <input class="contactus" placeholder="Name" type="type" name="Name">
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder="Email" type="type" name="Email">
                            </div>
                            <div class="col-md-12">
                                <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number">
                            </div>
                            <div class="col-md-12">
                                <textarea class="textarea" placeholder="Message" type="type" Message="Name">Message </textarea>
                            </div>
                            <div class="col-md-12">
                                <button class="send_btn">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <!-- end contact -->
{% endblock %}
